
.header img {
  /*float: left;*/
 
  width: 1750px;
  height: 350px;
 /* background: #555;*/
}

section{
	 text-align: center;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
/*	margin-top: 20px;*/
	margin-bottom: 10px;
}



/*
nav{
	width: 100%;
	height: 50px;
	background-color: #3B6980;
  	float: left;

}*/


nav a:hover{
	/*text-decoration: underline;*/ /* Hover styles to let people know they can click it */
	color: white;
}

nav a{

	margin-right: 200px;

}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;

  width: 100%;
}


body, html {
	background-color: #87e5ff;
	 text-align: center;
  height: 100%;
  margin: 0;

  font: 400 25px/1.8 "Verdana";
  color: #3d6eff;
}

.img-1, .img-2, .img-3, .img-4 {
  position: relative;
/*  opacity: 0.65;*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}




.img-1 {
  background-image: url("../img/back.jpg");
  min-height: 100%;
}

.img-2 {
  background-image: url("../img/box01.jpg");
  min-height: 600px;
}

.img-3 {
  background-image: url("../img/graf01.jpg");
  min-height: 600px;
}

.img-4 {
  background-image: url("../img/cam04.jpg");
  min-height: 600px;
}


.caption0 {

  position: absolute;
 /* left: 50%;*/
  top: 25%;
  width: 100%;
  text-align: center;
  color: #3d6eff;
}

.caption {

  position: absolute;
 /* left: 50%;*/
  top: 50%;
  width: 100%;
  text-align: center;
  color: #3d6eff;
}

.caption span.border {
	 text-align: center;

  font-size: 50px;
  letter-spacing: 8px;
}




h1 {
	  background-color: #d5f7fd;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Verdana";
  color: #3d6eff;
}


h2 {
	  background-color: #3d6eff;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Verdana";
  color: #d5f7fd;
}



h3 {
	  background-color: #d5f7fd;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Verdana";
  color: #3d6eff;
}



